@page "/mytasks"
@using ClassLibrary.Models
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@using System.Text
@inject ILogger<Projects> Logger
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Admin, Manager")]


<PageTitle>My Tasks</PageTitle>

<h1>My Tasks</h1>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                @* <th>Manager</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks)
            {
                if (@item.managerId == managerId) 
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.description</td>
                        @if (item.deadline < DateTime.Today.AddDays(2)) @*check if deadline is soon*@
                        {
                            <td style="background-color:red">@item.deadline</td>
                        }
                        else
                        {
                        <td>@item.deadline</td>
                        }
                        @* <td>@item.manager.name</td> *@
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {


    private List<ClassLibrary.Model.Task>? tasks;

    int managerId = -1; //later change it to whoever is logged in

    protected override async Task OnInitializedAsync()
    {
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            // Access the ClaimsPrincipal representing the authenticated user
            var user = authState.User;
            // Find the claim with the specific type ("Id")
            var managerIdClaim = user.FindFirst("Id");
            if (managerIdClaim != null)
            {
                // Extract the value of the claim
                managerId = Convert.ToInt32(managerIdClaim.Value);
            }
            else
            {
                // ManagerId claim not found
                Logger.LogWarning("Id was null");
                managerId = -1;
            }
            Logger.LogWarning("User id:" + managerId);
        }

        var settings = new JsonSerializerSettings();
        try
        {
            HttpClient httpClient = new HttpClient();
            HttpResponseMessage response = await httpClient.GetAsync("http://localhost:5005/Task");
            var result = await response.Content.ReadAsStringAsync();
            //Logger.LogWarning(result);
            if (response.IsSuccessStatusCode)
            {
                tasks = JsonConvert.DeserializeObject<List<ClassLibrary.Model.Task>>(result, settings);
                Logger.LogWarning("Succesful api fetch!");
            }
            else
            {
                Logger.LogWarning("Unsuccesful api fetch!");
            }
        }
        catch (Exception ex)
        {
            Logger.LogWarning("api failed: " + ex.Message);
        }
        
    }

}