@page "/Projects"
@using ClassLibrary.Models
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@inject ILogger<Projects> Logger
@* @attribute [StreamRendering] *@
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin, Manager")]

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>
Project Type:
@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select @onchange="SelectionChanged">
        <option value="-1">All</option>
        @foreach (var item in types)
        {
            <option value="@item.id">@item.name</option>
        }
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Desctiption</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                @if (project.type.id == selectionId || selectionId == -1)
                {
                    <tr>
                        <td>@project.id</td>
                        <td><a href="#" @onclick="(e) => Navigate(e, project.id)">@project.name</a></td>
                        <td>@project.type.name</td>
                        <td>@project.description</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private List<Project>? projects;
    HashSet<ProjectType> types = new HashSet<ProjectType>();
    int selectionId = -1;
    //private Project project;
    protected override async Task OnInitializedAsync()
    {
        var settings = new JsonSerializerSettings();
        try
        {
            HttpClient httpClient = new HttpClient();
            HttpResponseMessage response = await httpClient.GetAsync("http://localhost:5005/Project");
            var result = await response.Content.ReadAsStringAsync();
            //Logger.LogWarning(result);
            if (response.IsSuccessStatusCode)
            {
                projects = JsonConvert.DeserializeObject<List<Project>>(result, settings);
                Logger.LogWarning("Succesful api reguest!");
            }
            else
            {
                Logger.LogWarning("Unsuccesful api reguest!");
            }
        }
        catch (Exception ex)
        {
            Logger.LogWarning("api failed: " + ex.Message);
        }

        if (projects != null)
        {

            foreach (var item in projects)
            {
                types.Add(item.type);
            }

        }
    }





    private void SelectionChanged(ChangeEventArgs e)
    {
        selectionId = Convert.ToInt32(e.Value);
        Logger.LogWarning("Seletion Changed: " + selectionId);
    }

    private void Navigate(MouseEventArgs e, int projectId)
    {
        Logger.LogWarning("Navigate to: " + projectId);
        NavigationManager.NavigateTo($"projects/{projectId}/tasks");
    }
}